In [2]:
import pandas as pd

df = pd.read_csv('news_nouns.csv', index_col='Unnamed: 0')

In [3]:
df_group = df.groupby('month').agg({'nouns':'sum'})

In [4]:
df_group.reset_index(inplace=True)

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer
def show_top30(text):
    tfidf = TfidfVectorizer(max_features=500, stop_words='english')
    tdm = tfidf.fit_transform(text)
    word_count = pd.DataFrame({
        '단어': tfidf.get_feature_names(),
        '빈도': tdm.sum(axis=0).flat
    })
    return word_count.sort_values('빈도', ascending=False)[:30]

In [46]:
show_top30([df_group['nouns'][0]])

      단어        빈도
2     가구  0.321569
396   주택  0.315410
272  아파트  0.293187
358   전세  0.201616
225   서울  0.198403
181  부동산  0.188764
189   분양  0.188229
49    공급  0.183677
212   상승  0.144050
411  지난해  0.134946
132   만원  0.127182
257   시장  0.127182
98    단지  0.125040
244   수요  0.120756
416   지역  0.112455
408   지구  0.108171
1     가격  0.107904
235   셋값  0.100139
12    강남  0.095052
431   청약  0.094784
26    건설  0.094248
152   물량  0.092106
242  수도권  0.090232
135   매매  0.090232
299   올해  0.084074
34    경우  0.081128
109   대출  0.078719
203   사업  0.076844
322   이상  0.074702
293   예정  0.074702

In [47]:
show_top30([df_group['nouns'][1]])

      단어        빈도
4     가구  0.324064
402   주택  0.304130
365   전세  0.284706
269  아파트  0.276272
176  부동산  0.178133
220   서울  0.165866
187   분양  0.162799
128   만원  0.156665
44    공급  0.151809
306   월세  0.151043
250   시장  0.133664
1     가격  0.128041
421   지역  0.125485
107   대출  0.122930
210   상승  0.114751
25    건설  0.104784
98    단지  0.098139
130   매매  0.093539
200   사업  0.092517
238   수요  0.090217
378   정부  0.090217
336   임대  0.089961
416  지난해  0.089450
34    경우  0.086127
237  수도권  0.085872
377   정보  0.081272
147   물량  0.080249
106   대책  0.076160
121   때문  0.074627
21    거래  0.072582

In [48]:
show_top30([df_group['nouns'][2]])

      단어        빈도
398   주택  0.348261
274  아파트  0.288443
194   분양  0.259548
4     가구  0.246114
186  부동산  0.174891
206   사업  0.160443
225   서울  0.158669
107   단지  0.152332
364   전세  0.151826
260   시장  0.150812
140   만원  0.144475
418   지역  0.137885
39    경우  0.123691
117   대출  0.121663
410   지구  0.117354
214   상승  0.110004
52    공급  0.109243
1     가격  0.108990
30    건설  0.106962
26    거래  0.102146
355  재건축  0.100626
132   때문  0.093275
245  수도권  0.089220
246   수요  0.083137
143   매매  0.082883
436   청약  0.079841
365   전용  0.076546
44    계획  0.075026
31    건축  0.074772
324   이상  0.070463

In [49]:
show_top30([df_group['nouns'][3]])

      단어        빈도
399   주택  0.358648
273  아파트  0.303315
2     가구  0.266003
197   분양  0.252805
186  부동산  0.185035
206   사업  0.178182
227   서울  0.170059
29    건설  0.150769
259   시장  0.149246
102   단지  0.136809
137   만원  0.131986
1     가격  0.124118
419   지역  0.121580
49    공급  0.109396
24    거래  0.102543
39    경우  0.098990
214   상승  0.095690
337   임대  0.092898
432   청약  0.092390
352  재건축  0.090106
373   정부  0.088329
93   뉴타운  0.087060
281   억원  0.082491
115   대출  0.081984
412   지구  0.080207
45    계획  0.078938
62    구역  0.078938
244  수도권  0.076654
246   수요  0.074623
362   전세  0.074623

In [50]:
show_top30([df_group['nouns'][4]])

      단어        빈도
395   주택  0.316674
278  아파트  0.315471
200   분양  0.260755
3     가구  0.256746
191  부동산  0.208243
228   서울  0.169160
102   단지  0.156333
265   시장  0.155932
141   만원  0.150721
54    공급  0.147915
210   사업  0.146913
1     가격  0.131079
32    건설  0.130077
406   지구  0.125267
430   청약  0.122661
414   지역  0.119053
353  재건축  0.113041
42    경우  0.105424
472   하락  0.096205
27    거래  0.095804
217   상승  0.082576
150   면적  0.082175
251  수도권  0.080772
362   전세  0.080171
132   때문  0.078367
16    강남  0.076363
20    개발  0.075761
115   대책  0.073156
253   수요  0.072755
286   억원  0.071753

In [39]:
tdm.shape

(1, 500)

      단어        빈도
2     가구  0.321569
396   주택  0.315410
272  아파트  0.293187
358   전세  0.201616
225   서울  0.198403
181  부동산  0.188764
189   분양  0.188229
49    공급  0.183677
212   상승  0.144050
411  지난해  0.134946
132   만원  0.127182
257   시장  0.127182
98    단지  0.125040
244   수요  0.120756
416   지역  0.112455
408   지구  0.108171
1     가격  0.107904
235   셋값  0.100139
12    강남  0.095052
431   청약  0.094784
26    건설  0.094248
152   물량  0.092106
242  수도권  0.090232
135   매매  0.090232
299   올해  0.084074
34    경우  0.081128
109   대출  0.078719
203   사업  0.076844
322   이상  0.074702
293   예정  0.074702